<p id="notice"><%= notice %></p>

<p>
  <strong>New:</strong>
  <%= @quote.new %>
</p>

<p>
  <strong>Create:</strong>
  <%= @quote.create %>
</p>

<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
