<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Rocket Elevator Corporate</title>
	<meta name="description" content="" />
	<meta name="Author" content="Dorin Grigoras [www.stepofweb.com]" />

	<!-- mobile settings -->
	<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
	<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

	<!--<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700" rel="stylesheet" type="text/css" />-->
	<link href="https://fonts.google.com/specimen/Roboto" rel="stylesheet" type="text/css" />
	<!-- CORE CSS -->
	<%# <link href="assets/plugins/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />

	<!-- THEME CSS -->
	<link href="assets/css/essentials.css" rel="stylesheet" type="text/css" />
	<link href="assets/css/layout.css" rel="stylesheet" type="text/css" />

	<!-- PAGE LEVEL SCRIPTS -->
	<link href="assets/css/header-1.css" rel="stylesheet" type="text/css" />
	<link href="assets/css/color_scheme/yellow.css" rel="stylesheet" type="text/css" id="color_scheme" />

	<link href="assets/css/custom.css" rel="stylesheet" type="text/css" /> %>
</head>

<!--
		AVAILABLE BODY CLASSES:
		
		smoothscroll 			= create a browser smooth scroll
		enable-animation		= enable WOW animations

		bg-grey					= grey background
		grain-grey				= grey grain background
		grain-blue				= blue grain background
		grain-green				= green grain background
		grain-blue				= blue grain background
		grain-orange			= orange grain background
		grain-yellow			= yellow grain background
		
		boxed 					= boxed layout
		pattern1 ... patern11	= pattern background
		menu-vertical-hide		= hidden, open on click
		
		BACKGROUND IMAGE [together with .boxed class]
		data-background="assets/images/_/boxed_background/1.jpg"
	-->

<body class="smoothscroll enable-animation">






	<!-- wrapper -->
	<div id="wrapper">

		<!-- 
				AVAILABLE HEADER CLASSES

				Default nav height: 96px
				.header-md 		= 70px nav height
				.header-sm 		= 60px nav height

				.b-0 		= remove bottom border (only with transparent use)
				.transparent	= transparent header
				.translucent	= translucent header
				.sticky			= sticky header
				.static			= static header
				.dark			= dark header
				.bottom			= header on bottom
				
				shadow-before-1 = shadow 1 header top
				shadow-after-1 	= shadow 1 header bottom
				shadow-before-2 = shadow 2 header top
				shadow-after-2 	= shadow 2 header bottom
				shadow-before-3 = shadow 3 header top
				shadow-after-3 	= shadow 3 header bottom

				.clearfix		= required for mobile menu, do not remove!

				Example Usage:  class="clearfix sticky header-sm transparent b-0"
			-->
		<div id="header" class="navbar-toggleable-md sticky header-md clearfix">

			


		</div>


		<!-- 
				PAGE HEADER 
				
				CLASSES:
					.page-header-xs	= 20px margins
					.page-header-md	= 50px margins
					.page-header-lg	= 80px margins
					.page-header-xlg= 130px margins
					.dark			= dark page header

					.shadow-before-1 	= shadow 1 header top
					.shadow-after-1 	= shadow 1 header bottom
					.shadow-before-2 	= shadow 2 header top
					.shadow-after-2 	= shadow 2 header bottom
					.shadow-before-3 	= shadow 3 header top
					.shadow-after-3 	= shadow 3 header bottom
			-->
		<section class="page-header">
			<div class="container">

				<h1>Corporate building services</h1>

				<!-- breadcrumbs -->
				<ol class="breadcrumb">
					<li><a href="index.html">Home</a></li>
					<li><a href="index.html#services">Services</a></li>
				</ol><!-- /breadcrumbs -->

			</div>
		</section>
		<!-- /PAGE HEADER -->




		<!-- -->
		<section>
			<div class="container">

				<p class="lead"><span style="color: #0b64a0">Pride ourselves in our extremely high customer retention ratio. Year
						to year we retain more than <strong>95%</strong> of our customers, usually only losing those to low price tender
						situations.</span></p>

				<div class="divider divider-center divider-color">
					<!-- divider -->
					<i class="fa fa-chevron-down"></i>
				</div>

				<!-- BORN TO BE A WINNER -->
				<article class="row">
					<div class="col-md-6">
						<!-- OWL SLIDER -->
						<div class="owl-carousel buttons-autohide controlls-over m-0" data-plugin-options='{"items": 1, "autoHeight": true, "navigation": true, "pagination": true, "transitionStyle":"backSlide", "progressBar":"true"}'>
							<div>
                            	<%= image_tag("corporate1.jpg", :alt => "corporate", :class => "img-fluid1") %>

							</div>
							<div>
                                <%= image_tag("corporate2.jpg", :alt => "corporate", :class => "img-fluid1") %>

							</div>
							<div>
                                <%= image_tag("corporate3.jpg", :alt => "corporate", :class => "img-fluid1") %>
							</div>
							<div>
                                <%= image_tag("corporate4.jpg", :alt => "corporate", :class => "img-fluid1") %>
							</div>
						</div>
						<!-- /OWL SLIDER -->
					</div>
					<div class="col-md-6">
						<h3>Rocket : Four Areas of Corporate Building Expertise</h3>


						<p><strong><span style="color:#0b64a0">REPAIR SERVICES</span></strong><br>Rocket Elevators is a leader in
							elevator repair. Our highly trained and certified elevator technicians have fully stocked service vans with
							parts on site to minimize downtime. Where other parts are required, our office is stocked with the most
							frequently used elevator parts. We consistently impress our new customers with the speed in which we repair
							elevators.</p>

						<p><strong><span style="color:#0b64a0">MAINTENANCE:</span></strong><br>Rocket Elevators is a leader in elevator
							maintenance. While this seems to be a lost art in the elevator industry today, we recognize that preventative
							maintenance minimizes elevator breakdowns, maximizes uptime, extends the life of equipment, and ensures elevator
							safety. New customers are consistently impressed with how quickly we reduce trouble calls.</p>

						<p><strong><span style="color:#0b64a0"> MODERNIZATION:</span></strong><br>Elevator Modernization requires unique
							skills. While many elevator contractors claim to have elevator upgrade experience, they are often missing key
							skills which negatively impact projects and affect elevator reliability and safety. Our in-house Professional
							Engineer (P-Eng), experienced Project Managers and expert installers ensure project success.</p>

						<p><strong><span style="color:#0b64a0"> INSTALLATION:</span><br></strong>Elevator One is a premier elevator
							installer and an authorized dealer for a number of high quality manufacturers. We offer only high quality,
							non-proprietary elevators which can be maintained by any qualified elevator contractor. GCs and end customers
							appreciate that we complete our projects on time, on budget and with the highest quality.</p>
					</div>
				</article>
				<!-- /BORN TO BE A WINNER -->

			</div>
		</section>
		<!-- / -->









		<!-- -->
		<section>
			<div class="container">

				<h2 class="fs-25"><span style='color:#b13d1a'>Type of Modernization</span></h2>

				<p class="lead">Rocket Elevator has significant experience and expertise in undertaking full modernization or
					partial modernization projects.</p>

				<div class="mt-60">
					<ul class="nav nav-tabs nav-clean">
						<li class="nav-item"><a class="nav-link active" href="#tab1" data-toggle="tab">Full Modernization</a></li>
						<li class="nav-item"><a class="nav-link" href="#tab2" data-toggle="tab">Partial Modernization</a></li>
						<li class="nav-item"><a class="nav-link" href="#tab3" data-toggle="tab">When to Modernize</a></li>
					</ul>

					<div class="tab-content">
						<div id="tab1" class="tab-pane active">
                        	<%= image_tag("corporatemd.png", :alt => "awards", :width => "500", :class => "float-left") %>
							<p>Elevators can be maintained and repaired to keep them running, but like all mechanical devices, they
								eventually come to the end of their useful operation, and they require a full modernization. This typically
								comes at the 20 – 30 year mark, depending on the quality of the equipment first installed, and the preventative
								maintenance that has been performed. For traction elevators, typical upgrades and renovations include: the
								controller, the machine, overspeed governors, ropes, car stations, cab upgrades, hall stations, door operators
								and electronic protection devices. For hydraulic elevators, typical upgrades and renovations include: the
								controller, the pumping unit, hydraulic cylinders, car stations, cab upgrades, hall stations, door operators
								and electronic protection devices. Our references provide the same, consistent feedback at the end of our
								projects: we finish projects on time, on budget and our team is friendly and professional throughout the whole
								project.<p>
						</div>
						<div id="tab2" class="tab-pane fade">
                        	<%= image_tag("corporatetch.jpg", :alt => "awards", :width => "500", :class => "float-right") %>
							<p>In many instances elevators are still running relatively well, however there are certain critical components
								which have exceeded their useful life. While technicians can replace parts on such components, eventually
								shutdowns become more frequent and components need to be replaced. Rocket works closely with our customers to,
								where possible, predict such equipment expenditures in advance so that they can be budgeted in. Typical partial
								modernizations for traction elevators include replacing any of the following: rope brakes, overspeed governors,
								ropes, controllers, door operators and electronic protection devices, and cab upgrades. Typical partial
								modernizations for hydraulic elevators include replacing any of the following: controllers, motors, pumps,
								hydraulic cylinders, door operators and electronic protection devices. Rocket Elevators professional team
								completes such work efficiently with the highest possible quality.<p>
						</div>
						<div id="tab3" class="tab-pane fade">
                        	<%= image_tag("R2.png", :alt => "awards", :width => "500", :class => "float-right") %>
							<p>We work very closely with our customers to plan upgrades and renovations. We generally provide reports which
								project “partial modernization” recommendations (including suggested timeframe and approximate costs); as well
								as “full modernization” recommendations. In some cases we have taken over maintenance contracts where the
								previous contractor has insisted that a modernization is immediately required and we are able to extend the
								life for many years just by undertaking simple repairs and proper preventative maintenance. An elevator
								contractor with integrity and expertise should be able to give you honest and informed information to plan for
								most elevator interior design.<p>
						</div>
					</div>
				</div>

			</div>
		</section>
		<!-- / -->




		<!-- -->
		<section>
			<div class="container">

				<div class="row">
					<div class="col-md-6">
						<h3 class="fs-20">Why chose us?</h3>
						<ul class="list-unstyled">
							<li><i class="fa fa-check"></i> Because of our superior service.</li>
							<li><i class="fa fa-check"></i> Largest market share throughout Central America.</li>
							<li><i class="fa fa-check"></i> Rocket provides exceptional elevator maintenance services.</li>
							<li><i class="fa fa-check"></i> Rocket is able to quickly get elevators up and running.</li>
							<li><i class="fa fa-check"></i> We offer free support because we care about you.</li>
						</ul>
					</div>

					<div class="col-md-6">
						<h3 class="fs-20 text-center">What Rocket clients say?</h3>
						<!-- 
								Note: remove class="rounded" from the img for squared image!
							-->
						<ul class="row clearfix testimonial-dotted list-unstyled">
							<li class="col-md-6">
								<div class="testimonial">
									<figure class="float-left">
                                    	<%= image_tag("corporatehd.png", :alt => "corporate", :width => "500", :class => "rounded") %>
									</figure>
									<div class="testimonial-content">
										<p>Rocket Elevators is a fantastic partner to have working with us! Having them provide preventative
											maintenance and services to our long term care homes and retirement communities for just under a year now,
											has already proven to be a great decision. They provide safe and quality service for the seniors in which we
											care for, and always ensure we are their top priority!!</p>
										<cite>
											Judy Maltais – Director of Long Term Care Operations, Jarlette Health Services
											<span></span>
										</cite>
									</div>
								</div>
							</li>
							<li class="col-md-6">
								<div class="testimonial">
									<figure class="float-left">
                                       	<%= image_tag("corporatehd1.jpg", :alt => "corporate", :width => "500", :class => "rounded") %>
									</figure>
									<div class="testimonial-content">
										<p>Have been using Rocket Elevator for New installs, Preventative Maintenance and Elevator Modernization for
											8 years and never had an issue. Their response times are great, their staff is very knowledgeable and their
											paperwork is excellent. Highly recommended.</p><br><br><br><br><br>
										<cite>
											Michael Trentadue – Senior Property Manager, Melchior Management Corporation
											<span></span>
										</cite>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>

			</div>
		</section>
		<!-- / -->




		<!-- 
			CALLOUT

			FULLWIDTH: OUTSIDE OF <section> 

				Available Classes:
				alert-default
				alert-info
				alert-warning
				alert-danger
				alert-success
				alert-dark
			-->

		<div class="callout alert alert-transparent b-0 rad-0 m-0 pt-60 pb-60 clearfix">

			<div class="text-center">


				<p class="font-lato fs-20">
					We truly care about our users and our product.
				</p>

				<a href="index.html#contact" class="btn btn-primary btn-lg btn-round mt-30">CONTACT US NOW</a>

			</div>

		</div>
		<!-- /CALLOUT -->


		
	
	<!-- /wrapper -->


	<!-- SCROLL TO TOP -->
	<a href="#" id="toTop"></a>


	


	<!-- JAVASCRIPT FILES -->
	<%# <script>var plugin_path = 'assets/plugins/';</script>
	<script src="assets/plugins/jquery/jquery-3.3.1.min.js"></script>

	<script src="assets/js/scripts.js"></script> %>


</body>

</html>