<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8" />
	<title>Rocket Elevators</title>
	<meta name="description" content="" />
	<meta name="Author" content="Dorin Grigoras [www.stepofweb.com]" />

	<!-- mobile settings -->
	<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
	<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

	<!-- WEB FONTS : use %7C instead of | (pipe) -->
	<!--<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700" rel="stylesheet" type="text/css" />-->
	<link href="https://fonts.google.com/specimen/Roboto" rel="stylesheet" type="text/css" />
	

</head>



<body class="smoothscroll enable-animation">

	<!-- SLIDE TOP -->
	<%#  %>
	<!-- /SLIDE TOP -->


	<!-- wrapper -->
	<div id="wrapper">

		<!--
				AVAILABLE HEADER CLASSES

				Default nav height: 96px
				.header-md 		= 70px nav height
				.header-sm 		= 60px nav height

				.b-0 		= remove bottom border (only with transparent use)
				.transparent	= transparent header
				.translucent	= translucent header
				.sticky			= sticky header
				.static			= static header
				.dark			= dark header
				.bottom			= header on bottom

				shadow-before-1 = shadow 1 header top
				shadow-after-1 	= shadow 1 header bottom
				shadow-before-2 = shadow 2 header top
				shadow-after-2 	= shadow 2 header bottom
				shadow-before-3 = shadow 3 header top
				shadow-after-3 	= shadow 3 header bottom

				.clearfix		= required for mobile menu, do not remove!

				Example Usage:  class="clearfix sticky header-sm transparent b-0"
			-->
		<div id="header" class="navbar-toggleable-md sticky header-md clearfix">

			

		</div>



		<!-- REVOLUTION SLIDER -->
		<div class="slider fullwidthbanner-container roundedcorners clearfix">

			<div class="fullwidthbanner " data-height="600" data-shadow="0" data-navigationStyle="preview2">
				<ul class="hide">



					<!-- SLIDE 1 -->
					<li data-transition="parallaxtotop" data-slotamount="7" data-masterspeed="300" data-saveperformance="off"
					 data-title="Committed to futur">
						<!-- MAIN IMAGE -->
						
						<%= image_tag("banner5.jpg", :alt => "cover image", :data => "center top", :data => "cover", :data =>"no-repeat") %>

						<div class="overlay dark-4">
							<!-- dark overlay [0 to 9 opacity] -->
						</div>

						<div class="tp-caption font-roboto skewfromleft tp-resizeme" data-x="center" data-y="100" data-speed="500"
						 data-start="1500" data-easing="Cubic.easeOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1"
						 data-endelementdelay="0.1" data-endspeed="500" style="z-index: 2; color:#fff; font-size:50px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
							Committed to People, Committed to the Future.


						</div>

						<div class="tp-caption skewfromrightshort tp-resizeme" data-x="center" data-y="200" data-speed="500" data-start="1000"
						 data-easing="easeInCirc" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
						 data-endspeed="500" style="z-index: 3; font-size:20px; color:#fff; font-weight:300; text-shadow:none;">
							You want your project to live up to your expectations?
							Rocket team are the best for your project !

						</div>


						<div class="tp-caption sfb tp-resizeme" data-x="center" data-y="300" data-speed="500" data-start="1500"
						 data-easing="Power3.easeIn" data-splitin="none" data-splitout="none" data-elementdelay="1" data-endelementdelay="0.1"
						 data-endspeed="500" style="z-index: 4; ">
							<a class="btn btn-warning btn-sm" href="#services">OUR SERVICES</a>
						</div>

						<div class="tp-caption sfb tp-resizeme" data-x="center" data-y="380" data-speed="500" data-start="1500"
						 data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1"
						 data-endelementdelay="0.1" data-endspeed="500" style="z-index: 6; white-space: nowrap;">
							<a class="btn btn-primary btn-sm" href="quote.html">GET A QUOTE</a>
						</div>

					</li>


					<!-- SLIDE 2 -->
					<li data-transition="parallaxtobottom" data-slotamount="7" data-masterspeed="600" data-saveperformance="off"
					 data-title="Residential Services">
						<!-- MAIN IMAGE -->
						
						 <%= image_tag("slider6.jpg", :alt => "cover image", :data => "center top", :data => "cover", :data =>"no-repeat") %>

						<div class="overlay dark-4">
							<!-- dark overlay [0 to 9 opacity] -->
						</div>

						<div class="tp-caption white_big skewfromleft tp-resizeme" id="positioncenter" data-x="center" data-y="100"
						 data-speed="400" data-start="1500" data-easing="Power3.easeInOut" data-splitin="words" data-splitout="none"
						 data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="600" style="z-index: 2; color:#fff; font-size:50px; line-height:50px; font-weight:bold; letter-spacing:0; text-shadow:none;">
							Residential house services.<br>
						</div>



						<div class="tp-caption skewfromrightshort tp-resizeme" id="centerposition" data-x="center" data-y="180"
						 data-speed="500" data-start="2000" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none"
						 data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="600" style="z-index: 3; font-size:20px; color:#fff; font-weight:300; text-shadow:none;">
							<center>An elevator provides ease of access to all levels of the home.<br>
							This feature can make people’s lives easier on a daily basis and for years to come.</center>

						</div>




						<div class="tp-caption skewfromleft tp-resizeme  un-button-2-lg" data-x="center" data-y="300" data-speed="300"
						 data-start="2500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1"
						 data-endelementdelay="0.1" data-endspeed="300" style="z-index: 5; white-space: nowrap;">
							<a class="btn btn-primary btn-sm" href="residential.html">RESIDENTIAL SERVICES</a>
						</div>
					</li>

					<!-- SLIDE 3 -->
					<li data-transition="parallaxtobottom" data-slotamount="7" data-masterspeed="600" data-saveperformance="off"
					 data-title=" Corporate Building Services">
						<!-- MAIN IMAGE -->
						
						<%= image_tag("slider2.jpeg", :alt => "cover image", :data => "center top", :data => "cover", :data =>"no-repeat") %>


						<div class="overlay dark-4">
							<!-- dark overlay [0 to 9 opacity] -->
						</div>

						<div class="tp-caption white_big skewfromleft tp-resizeme" data-x="center" data-y="100" data-speed="400"
						 data-start="1500" data-easing="Power3.easeInOut" data-splitin="words" data-splitout="none" data-elementdelay="0.1"
						 data-endelementdelay="0.1" data-endspeed="600" style="z-index: 2; color:#fff; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
							Corporate building services.
						</div>

						<div class="tp-caption content_text_center skewfromleft tp-resizeme" data-x="center" data-y="200" data-speed="500"
						 data-start="2000" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1"
						 data-endelementdelay="0.1" data-endspeed="600" style="z-index: 3; font-size:20px; color:#fff; font-weight:300; text-shadow:none;">
							Whether it's a small or a big project,
							we have the expertise to make you more than satisfied.
						</div>

						<div class="tp-caption tp-fade" data-x="center" data-y="160" data-speed="300" data-start="800" data-easing="Power3.easeInOut"
						 data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 4;">

						</div>

						<div class="tp-caption skewfromleft tp-resizeme  un-button-2-lg" data-x="center" data-y="300" data-speed="300"
						 data-start="2500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1"
						 data-endelementdelay="0.1" data-endspeed="300" style="z-index: 5; white-space: nowrap;">
							<a class="btn btn-primary btn-sm" href="corporate.html">Corporate building</a>
						</div>
					</li>

				</ul>

			</div>
		</div>
		<!-- /REVOLUTION SLIDER -->


		<hr class="m-0" /><!-- 1px line separator -->


		<!-- BUTTON CALLOUT -->
		<!--- <a href="#contact" class="btn btn-xlg btn-primary fs-20 fullwidth m-0 rad-0 p-40">
				<span class="font-lato fs-30">
					<img src='assets/image1/R2.png' width="200"/><br>
					<em>Did Rocket Elevators convinced you?</em><br>
					<strong><em>Contact us now !</em></strong><br>

				</span>
			</a> -->

		<!-- /BUTTON CALLOUT -->



		<!-- -->
		<center>
			<section id="services">
				<div class="container">

					<div class="row">

						<div class="col-md-4">

							<div class="heading-title heading-border-bottom heading-color">

								<h3>Portfolio</h3>


							</div>

							<%= image_tag("workicon.png", :alt => "awards", :class => "img-fluidservices") %>


							<p><em>Over the years we have won several awards and have participate in many incredible projectc please take
									the time to look at our incredible work !</em></p><br><br>



							<a href="#work">

								Read
								<!-- /word rotator -->
								<span class="word-rotator" data-delay="3000">
									<span class="items">
										<span>more</span>
										<span>now</span>
									</span>
								</span><!-- /word rotator -->
								<i class="glyphicon glyphicon-menu-right fs-12"></i>
							</a>

						</div>

						<div class="col-md-4">
							<div class="heading-title heading-border-bottom heading-color">

								<h3>Residential services</h3>

							</div>

							
							<%= image_tag("houseicon.png", :alt => "awards", :class => "img-fluidservices") %>


							<p><em>Choosing a Rocket Home Elevator is a more cost-effective compared to moving house and less expensive and
									disruptive than building a downstairs extension – and by adding a home lift you can add value to your home.</em></p>


							<a href="residential.html">
								Read
								<!-- /word rotator -->
								<span class="word-rotator" data-delay="3000">
									<span class="items">
										<span>more</span>
										<span>now</span>
									</span>
								</span><!-- /word rotator -->
								<i class="glyphicon glyphicon-menu-right fs-12"></i>
							</a>

						</div>

						<div class="col-md-4">
							<div class="heading-title heading-border-bottom heading-color">

								<h3><em>Corporate building project</em></h3>

							</div>

							
							<%= image_tag("buildingicon.png", :alt => "awards", :class => "img-fluidservices") %>
							


							<p><em>Rocket Elevators adds value to the buildings of architects, owners and builders. Rocket Corporate
									building
									solutions are adapted to all needs !</em></p><br><br>


							<a href="corporate.html">
								Read
								<!-- /word rotator -->
								<span class="word-rotator" data-delay="3000">
									<span class="items">
										<span>more</span>
										<span>now</span>
									</span>
								</span><!-- /word rotator -->
								<i class="glyphicon glyphicon-menu-right fs-12"></i>
							</a>


						</div>

					</div>

				</div>

			</section>
		</center>

		<!-- / -->






		<!-- Parallax -->
		<section class="parallax parallax-1" style="background-image: url('assets/para.jpg');">
			<div class="overlay dark-0">
				<!-- dark overlay [1 to 9 opacity] -->
			</div>

			<div class="container">

				<div class="text-center">
					<h2 class="fs-40 fw-300">The leader in the industry since <strong>1976</strong></h2>
					<a class="btn btn-primary btn-sm" href="quote.html">GET A QUOTE <i class="fa fa-angle-right"></i></a>
					&nbsp; OR &nbsp;
					<a class="btn btn-primary btn-sm" href="#contact">CONTACT US <i class="fa fa-angle-right"></i></a>
				</div>

			</div>
		</section>
		<!-- /Parallax -->







		<!-- PORTFOLIO -->
		<section id="work">
			<div class="container">

				<div class="heading-title heading-dotted text-center">
					<h3>Portfolio</h3>
				</div>

				<div class="text-center">
					<ul class="nav nav-pills mix-filter mb-60">
						<li data-filter="all" class="filter active"><a href="#"><span style=color:#0b64a0>All </a></li>
						<li data-filter="development" class="filter"><a href="#"><span style=color:#0b64a0>Prestigious Awards</a></li>
						<li data-filter="photography" class="filter"><a href="#"><span style=color:#0b64a0>Residential Projects</a></li>
						<li data-filter="design" class="filter"><a href="#"><span style=color:#0b64a0>Corporate Buildings Projects</a></li>
					</ul>
				</div>

			</div>

			<div id="portfolio" class="portfolio-nogutter">

				<div class="row mix-grid">

					<div class="col-md-3 col-sm-3 mix development mix_all">
						<!-- item -->

						<div class="item-box">
							<figure>
								<span class="item-hover">
									<span class="overlay dark-5"></span>
									<span class="inner">

										<!-- lightbox -->
										<a class="ico-rounded lightbox" href="assets/image1/nobilis.jpg" data-plugin-options='{"type":"image"}'>
											<span class="fa fa-plus fs-20"></span>
										</a>

										<!-- details -->
										<a class="ico-rounded lightbox" href="assets/image1/nobilis.jpg" data-plugin-options='{"type":"ajax", "closeOnBgClick":false}'>

										</a>

									</span>
								</span>

								<%# <img class="img-fluid" src="assets/image1/nobilis.jpg" width="600" height="399" alt="nobilis"> %>
								<%= image_tag("nobilis.jpg", :alt => "nobilis", :class => "img-fluid", :width =>"600", :height =>"399") %>
							</figure>

							<div class="col-xs-12 text-center">

								<h5><span id="positioncenter" style=color:#aaaaaa><br>Forbes 2018</span></h5>



							</div>

						</div>

					</div><!-- /item -->


					<div class="col-md-3 col-sm-3 mix development mix_all">
						<!-- item -->

						<div class="item-box">
							<figure>
								<span class="item-hover">
									<span class="overlay dark-5"></span>
									<span class="inner">

										<!-- lightbox -->
										<a class="ico-rounded lightbox" href="assets/image1/forbes.jpg" data-plugin-options='{"type":"image"}'>
											<span class="fa fa-plus fs-20"></span>
										</a>

										<!-- details -->
										<a class="ico-rounded lightbox" href="assets/image1/forbes.jpg" data-plugin-options='{"type":"ajax", "closeOnBgClick":false}'>

										</a>

									</span>
								</span>

								<%# <img class="img-fluid" src="assets/image1/forbes.jpg" width="600" height="399" alt="forbes"> %>
								<%= image_tag("forbes.jpg", :alt => "forbes", :class => "img-fluid", :width =>"600", :height =>"399") %>
							</figure>

							<div class="col-xs-12 text-center">

								<h5><span style=color:#aaaaaa><br>Forbes best elevator company 2018</span></h5>


							</div>

						</div>

					</div><!-- /item -->


					<div class="col-md-3 col-sm-3 mix development mix_all">
						<!-- item -->

						<div class="item-box">
							<figure>
								<span class="item-hover">
									<span class="overlay dark-5"></span>
									<span class="inner">

										<!-- lightbox -->
										<a class="ico-rounded lightbox" href="assets/image1/forbes1.png" data-plugin-options='{"type":"image"}'>
											<span class="fa fa-plus fs-20"></span>
										</a>

										<!-- details -->
										<a class="ico-rounded lightbox" href="assets/image1/forbes1.png" data-plugin-options='{"type":"ajax", "closeOnBgClick":false}'>

										</a>

									</span>
								</span>

								<%# <img class="img-fluid" src="assets/image1/forbes1.png" width="600" height="399" alt="forbes"> %>
								<%= image_tag("forbes1.png", :alt => "forbes", :class => "img-fluid", :width =>"600", :height =>"399") %>
							</figure>

							<div class="col-xs-12 text-center">

								<h5 style=color:#aaaaaa><br>Forbes business of the year 2018</h5>


							</div>

						</div>

					</div><!-- /item -->


					<div class="col-md-3 col-sm-3 mix development mix_all" >
						<!-- item -->

						<div class="item-box">
							<figure>
								<span class="item-hover">
									<span class="overlay dark-5"></span>
									<span class="inner">

										<!-- lightbox -->
										<a class="ico-rounded lightbox" href="assets/image1/elevator.jpg" data-plugin-options='{"type":"image"}'>
											<span class="fa fa-plus fs-20"></span>
										</a>

										<!-- details -->
										<a class="ico-rounded lightbox" href="assets/image1/elevator.jpg" data-plugin-options='{"type":"ajax", "closeOnBgClick":false}'>

										</a>

									</span>
								</span>

								<%# <img class="img-fluid" src="assets/image1/elevator.jpg" width="600" height="399" alt="elevator"> %>
								<%= image_tag("elevator.jpg", :alt => "elevator", :class => "img-fluid", :width =>"600", :height =>"399") %>
								
							</figure>

							<div class="col-xs-12 text-center">

								<h5 style=color:#aaaaaa><br>Winner of the diamond award 2016</h5>


							</div>

						</div>

					</div><!-- /item -->


					<div class="col-md-3 col-sm-3 mix photography mix_all" >
						<!-- item -->

						<div class="item-box">
							<figure>
								<span class="item-hover">
									<span class="overlay dark-5"></span>
									<span class="inner">

										<!-- lightbox -->
										<a class="ico-rounded lightbox" href="assets/image1/elevator1.jpg" data-plugin-options='{"type":"image"}'>
											<span class="fa fa-plus fs-20"></span>
										</a>

										<!-- details -->
										<a class="ico-rounded" href="assets/image1/elevator1.jpg">

										</a>

									</span>
								</span>

								<%# <img class="img-fluid" src="assets/image1/elevator1.jpg" width="600" height="399" alt="elevator"> %>
								<%= image_tag("elevator1.jpg", :alt => "elevator", :class => "img-fluid", :width =>"600", :height =>"399") %>
							</figure>

							<div class="col-xs-12 text-center">

								<h5 style=color:#aaaaaa><br>Modern house<br>2018</h5>


							</div>

						</div>

					</div><!-- /item -->


					<div class="col-md-3 col-sm-3 mix photography mix_all" >
						<!-- item -->

						<div class="item-box">
							<figure>
								<span class="item-hover">
									<span class="overlay dark-5"></span>
									<span class="inner">

										<!-- lightbox -->
										<a class="ico-rounded lightbox" href="assets/image1/elevator2.jpg" data-plugin-options='{"type":"image"}'>
											<span class="fa fa-plus fs-20"></span>
										</a>

										<!-- details -->
										<a class="ico-rounded" href="assets/image1/elevator2.jpg">

										</a>

									</span>
								</span>

								<%# <img class="img-fluid" src="assets/image1/elevator2.jpg" width="600" height="399" alt="elevator"> %>
								<%= image_tag("elevator2.jpg", :alt => "elevator", :class => "img-fluid", :width =>"600", :height =>"399") %>
							</figure>

							<div class="col-xs-12 text-center">


								<h5 style=color:#aaaaaa><br>Modernization project<br>2017</h5>


							</div>

						</div>

					</div><!-- /item -->


					<div class="col-md-3 col-sm-3 mix photography mix_all">
						<!-- item -->

						<div class="item-box">
							<figure>
								<span class="item-hover">
									<span class="overlay dark-5"></span>
									<span class="inner">

										<!-- lightbox -->
										<a class="ico-rounded lightbox" href="assets/image1/elevator3.jpg" data-plugin-options='{"type":"image"}'>
											<span class="fa fa-plus fs-20"></span>
										</a>

										<!-- details -->
										<a class="ico-rounded" href="assets/image1/elevator3.jpg">
										

										</a>

									</span>
								</span>

								<%# <img class="img-fluid" src="assets/image1/elevator3.jpg" width="600" height="399" alt="elevator"> %>
								<%= image_tag("elevator3.jpg", :alt => "elevator", :class => "img-fluid", :width =>"600", :height =>"399") %>

							</figure>

							<div class="col-xs-12 text-center">


								<h5 style=color:#aaaaaa><br>Luxurious home project<br>2018</h5>


							</div>

						</div>

					</div><!-- /item -->


					<div class="col-md-3 col-sm-3 mix photography mix_all">
						<!-- item -->

						<div class="item-box">
							<figure>
								<span class="item-hover">
									<span class="overlay dark-5"></span>
									<span class="inner">

										<!-- lightbox -->
										<a class="ico-rounded lightbox" href="assets/image1/elevator4.jpg" data-plugin-options='{"type":"image"}'>
											<span class="fa fa-plus fs-20"></span>
										</a>

										<!-- details -->
										<a class="ico-rounded" href="assets/image1/elevator4.jpg">

										</a>

									</span>
								</span>

								<%# <img class="img-fluid" src="assets/image1/elevator4.jpg" width="600" height="399" alt="elevator"> %>
								<%= image_tag("elevator4.jpg", :alt => "elevator", :class => "img-fluid", :width =>"600", :height =>"399") %>
							</figure>

							<div class="col-xs-12 text-center">


								<h5 style=color:#aaaaaa><br>Home project<br>2016</h5>


							</div>

						</div>

					</div><!-- /item -->


					<div class="col-md-3 col-sm-3 mix design mix_all">
						<!-- item -->

						<div class="item-box">
							<figure>
								<span class="item-hover">
									<span class="overlay dark-5"></span>
									<span class="inner">

										<!-- lightbox -->
										<a class="ico-rounded lightbox" href="assets/image1/building1.jpg" data-plugin-options='{"type":"image"}'>
											<span class="fa fa-plus fs-20"></span>
										</a>

										<!-- details -->
										<a class="ico-rounded" href="assets/image1/building1.jpg">

										</a>

									</span>
								</span>

								<%# <img class="img-fluid" src="assets/image1/building1.jpg" width="600" height="399" alt="building"> %>
								<%= image_tag("building1.jpg", :alt => "building", :class => "img-fluid", :width =>"600", :height =>"399") %>
							</figure>

							<div class="col-xs-12 text-center">


								<h5 style=color:#aaaaaa><br>We did the installation in<br>Empire State Building</h5>


							</div>

						</div>

					</div><!-- /item -->


					<div class="col-md-3 col-sm-3 mix design mix_all">
						<!-- item -->

						<div class="item-box">
							<figure>
								<span class="item-hover">
									<span class="overlay dark-5"></span>
									<span class="inner">

										<!-- lightbox -->
										<a class="ico-rounded lightbox" href="assets/image1/building2.jpg" data-plugin-options='{"type":"image"}'>
											<span class="fa fa-plus fs-20"></span>
										</a>

										<!-- details -->
										<a class="ico-rounded" href="assets/image1/building2.jpg">

										</a>

									</span>
								</span>

								<%# <img class="img-fluid" src="assets/image1/building2.jpg" width="600" height="399" alt="building"> %>
								<%= image_tag("building2.jpg", :alt => "building", :class => "img-fluid", :width =>"600", :height =>"399") %>
							</figure>

							<div class="col-xs-12 text-center">

								<h5 style=color:#aaaaaa><br>We manage the installation in<br>Dubai Durj Khalifa building</h5>


							</div>

						</div>

					</div><!-- /item -->



					<div class="col-md-3 col-sm-3 mix design mix_all">
						<!-- item -->

						<div class="item-box">
							<figure>
								<span class="item-hover">
									<span class="overlay dark-5"></span>
									<span class="inner">

										<!-- lightbox -->
										<a class="ico-rounded lightbox" href="assets/image1/building3.jpg" data-plugin-options='{"type":"image"}'>
											<span class="fa fa-plus fs-20"></span>
										</a>

										<!-- details -->
										<a class="ico-rounded" href="assets/image1/building3.jpg">

										</a>

									</span>
								</span>

								<%# <img class="img-fluid" src="assets/image1/building3.jpg" width="600" height="399" alt="building"> %>
								<%= image_tag("building3.jpg", :alt => "building", :class => "img-fluid", :width =>"600", :height =>"399") %>
							</figure>

							<div class="col-xs-12 text-center">

								<h5 style=color:#aaaaaa><br>The window lift was designed by us for the Cn Tower</h5>

							</div>

						</div>

					</div><!-- /item -->


					<div class="col-md-3 col-sm-3 mix design mix_all" >
						<!-- item -->

						<div class="item-box">
							<figure>
								<span class="item-hover">
									<span class="overlay dark-5"></span>
									<span class="inner">

										<!-- lightbox -->
										<a class="ico-rounded lightbox" href="assets/image1/building4.jpg" data-plugin-options='{"type":"image"}'>
											<span class="fa fa-plus fs-20"></span>
										</a>

										<!-- details -->
										<a class="ico-rounded" href="assets/image1/building4.jpg">

										</a>

									</span>
								</span>

								<%# <img class="img-fluid" src="assets/image1/building4.jpg" width="600" height="399" alt="building"> %>
								<%= image_tag("building4.jpg", :alt => "building", :class => "img-fluid", :width =>"600", :height =>"399") %>
							</figure>

							<div class="col-xs-12 text-center">


								<h5 style=color:#aaaaaa><br>We did the installation in<br>Tokyo Skytree building</h5>

							</div>

						</div>

					</div><!-- /item -->






				</div>


			</div>
		</section>
		<!-- /PORTFOLIO -->




		<!-- Testimonials -->
		<!-- Testimonials -->
		<section class="section-xs dark">
			<div class="container">

				<div class="owl-carousel text-center owl-testimonial m-0" data-plugin-options='{"singleItem": true, "autoPlay": 3500, "navigation": false, "pagination": true, "transitionStyle":"fade"}'>
					<div class="testimonial1">
						<figure>
							<%# <img class="rounded" src="assets/image1/felixantoine.png" alt="ceo" /> %>
							<%= image_tag("felixantoine.jpg", :alt => "ceo", :class => "rounded") %>
						</figure>
						<div class="testimonial-content p-0">
							<p class="lead" style="color:#aaaaaa"><em>Félix-Antoine Paradis is the President, CEO and sole owner of Rocket
									Elevator. Félix is also
									a
									professional engineer and a licensed elevator mechanic, so his expertise is beneficial for our customers in
									areas such as professional engineering and TSSA compliance.</em></p>
							<cite style="color:#aaaaaa">
								Félix-Antoine Paradis
								<span style="color:#aaaaaa">Rocket elevators</span>
							</cite>
						</div>
					</div>
					<div class="testimonial1">
						<figure>
							<%# <img class="rounded" src="assets/image1/ceo1.jpg" alt="samuel" /> %>
							<%= image_tag("ceo1.jpg", :alt => "samuel", :class => "rounded") %>

						</figure>
						<div class="testimonial-content p-0">
							<p class="lead" style="color:#aaaaaa"><em>The model employee of january month is Samuel Asselin. Samuel
									graduated from the Electronics
									Engineering Technology program of Mohawk College of Applied Arts and Technology and he is a licensed Class A
									Elevating Devices Mechanic. Samuel is responsible for overseeing all day-to-day Operations of Rocket elevators
									including maintenance support, and provides project management on new construction and modernization projects.</em></p>
							<cite style="color:#aaaaaa">
								Samuel Asselin
								<span style="color:#aaaaaa">Rocket elevators</span>
							</cite>
						</div>
					</div>
				</div>

			</div>
		</section>
		<!-- /Testimonials -->
		<!-- /Testimonials -->





		<!-- News -->
		<section id="news">
			<div class="container">

				<div class="heading-title heading-dotted text-center">
					<h3>Recent News</h3>
				</div>

				<div class="owl-carousel owl-padding-10 buttons-autohide controlls-over" data-plugin-options='{"singleItem": false, "items":"4", "autoPlay": 4000, "navigation": true, "pagination": false}'>
					<div class="img-hover">
						<a target='New' href="https://www.nydailynews.com/new-york/ny-metro-elevators-study-hunter-college-20190123-story.html">
							<%# <img class="img-fluid" src="assets/image1/new1.jpg" alt="newimage"> %>
							<%= image_tag("new1.jpg", :alt => "newimage", :class => "img-fluid") %>
						</a>

						<h4 class="text-left mt-20"><a target='New' href="https://www.nydailynews.com/new-york/ny-metro-elevators-study-hunter-college-20190123-story.html">NYC
								subway elevators are disgusting but sorely needed, new study says</a></h4>
						<p class="text-left">The city subways cars can be gross, but MTA elevators are a whole new level of yuck, a study
							says.

							Foul smells are the norm in elevators across the subway system, according to findings from Hunter College
							released on Wednesday.

							Student researchers from the school surveyed elevators at 64 different stations, and found that 36% of them had
							noticeable odors, with another 6% emitting scents described as “pungent.”

							Urine was reported as the most prominent smell in the rancid lifts.</p>
						<ul class="text-left fs-12 list-inline list-separator">
							<li>
								<i class="fa fa-calendar"></i>
								29th Jan 2019
							</li>
							<li>
								<a target='New' href="https://www.nydailynews.com/new-york/ny-metro-elevators-study-hunter-college-20190123-story.html">
									<i class="fa fa-comments"></i>
									3
								</a>
							</li>
						</ul>
					</div>

					<div class="img-hover">
						<a target='New' href="https://fox11online.com/news/local/downtown-appleton-elevators-shut-down-in-yellow-ramp">
							<%# <img class="img-fluid" src="assets/image1/new2.jpg" alt="newimage"> %>
							<%= image_tag("new2.jpg", :alt => "newimage", :class => "img-fluid") %>
						</a>

						<h4 class="text-left mt-20"><a target='New' href="https://fox11online.com/news/local/downtown-appleton-elevators-shut-down-in-yellow-ramp">Downtown
								Appleton: Elevators shut down in Yellow Ramp</a></h4>
						<p class="text-left">PPLETON (WLUK) -- It's not every day Cindy Wald, an Appleton resident, uses the stairs in
							the Yellow Ramp to get to her car.


							"Yeah the stairs kind of take a toll on you," Wald said, while trying to catch her breath.

							"Yeah, I usually take the elevator, because a few weeks ago, well a couple months ago, I did have surgery on my
							foot," said Wald.

							But on Monday, she didn't have a choice.</p>
						<ul class="text-left fs-12 list-inline list-separator">
							<li>
								<i class="fa fa-calendar"></i>
								11th Jan 2019
							</li>
							<li>
								<a target='New' href="https://fox11online.com/news/local/downtown-appleton-elevators-shut-down-in-yellow-ramp">
									<i class="fa fa-comments"></i>
									3
								</a>
							</li>
						</ul>
					</div>
					<div class="img-hover">
						<a target='New' href="https://pamplinmedia.com/pt/9-news/417563-320116-trimets-plan-19-fixed-up-elevators-at-22-million-cost">
							<%# <img class="img-fluid" src="assets/image1/new3.jpg" alt="newimage"> %>
							<%= image_tag("new3.jpg", :alt => "newimage", :class => "img-fluid") %>
						</a>

						<h4 class="text-left mt-20"><a target='New' href="https://pamplinmedia.com/pt/9-news/417563-320116-trimets-plan-19-fixed-up-elevators-at-22-million-cost">TriMet's
								plan: 19 fixed-up elevators at $22 million cost</a></h4>
						<p class="text-left">TriMet is checking boxes and gliding forward as it works to replace every elevator used by
							its riders region-wide. Another closure is planned at one of agency's busier stations.

							This time, the bell dings for the elevator that connects the Hollywood/NE 42nd Ave. Transit Center MAX platform
							with the elevated pedestrian bridge above Interstate 84 in Portland. It will close for about three months,
							starting Friday, Jan. 18, and cost an estimated $732,830 to replace.</p>
						<ul class="text-left fs-12 list-inline list-separator">
							<li>
								<i class="fa fa-calendar"></i>
								29th Nov 2019
							</li>
							<li>
								<a target='New' href="https://pamplinmedia.com/pt/9-news/417563-320116-trimets-plan-19-fixed-up-elevators-at-22-million-cost">
									<i class="fa fa-comments"></i>
									3
								</a>
							</li>
						</ul>
					</div>
					<div class="img-hover">
						<a target='New' href="https://fox11online.com/news/local/fires-damage-downtown-appleton-parking-ramp-elevators">
							<%# <img class="img-fluid" src="assets/image1/new4.jpg" alt="newimage"> %>
							<%= image_tag("new4.jpg", :alt => "newimage", :class => "img-fluid") %>
							
						</a>

						<h4 class="text-left mt-20"><a target='New' href="https://fox11online.com/news/local/fires-damage-downtown-appleton-parking-ramp-elevators">Fires
								damage downtown Appleton parking ramp elevators</a></h4>
						<p class="text-left">Over the weekend, crews put out elevator fires in the Yellow and Green parking ramps.

							The fire inside the Green Parking ramp elevator caused damage, but not enough to put it out of service.

							The Yellow Ramp elevator fire was more destructive.</p>
						<ul class="text-left fs-12 list-inline list-separator">
							<li>
								<i class="fa fa-calendar"></i>
								12th Sept 2019
							</li>
							<li>
								<a target='New' href="https://fox11online.com/news/local/fires-damage-downtown-appleton-parking-ramp-elevators">
									<i class="fa fa-comments"></i>
									3
								</a>
							</li>
						</ul>
					</div>
					<div class="img-hover">
						<a target='New' href="https://www.nbcdfw.com/news/local/JPS-Hospital-Employee-Hurt-in-Elevator-Accident-504673841.html">
							<%# <img class="img-fluid" src="assets/image1/new5.jpg" alt="newimage"> %>
							<%= image_tag("new5.jpg", :alt => "newimage", :class => "img-fluid") %>
						</a>
						<h4 class="text-left mt-20"><a target='New' href="https://www.nbcdfw.com/news/local/JPS-Hospital-Employee-Hurt-in-Elevator-Accident-504673841.html">John
								Peter Smith Hospital Employee Hurt in Elevator Accident</a></h4>
						<p class="text-left">Officials with John Peter Smith Hospital in Fort Worth confirmed a female employee was
							seriously hurt Sunday in an elevator accident, but refused to confirm any other details about what took place.

							JPS says the employee was injured in one of the purple patient tower elevators when it was stopped on the 10th
							floor.</span>

						</p>
						<ul class="text-left fs-12 list-inline list-separator">
							<li>
								<i class="fa fa-calendar"></i>
								30th Oct 2019
							</li>
							<li>
								<a target='New' href="https://www.nbcdfw.com/news/local/JPS-Hospital-Employee-Hurt-in-Elevator-Accident-504673841.html">
									<i class="fa fa-comments"></i>
									3
								</a>
							</li>
						</ul>
					</div>
					<div class="img-hover">
						<a target='New' href="https://journalbitcoin.com/elevators-and-escalators-market-2018-precise-outlook-schindler-thyssenkrupp-mitsubishi-kone-elevator-fujitec-omega/">
							<%# <img class="img-fluid" src="assets/image1/new6.jpg" alt="newimage"> %>
							<%= image_tag("new6.jpg", :alt => "newimage", :class => "img-fluid") %>
						</a>
						<h4 class="text-left mt-20"><a target='New' href="https://journalbitcoin.com/elevators-and-escalators-market-2018-precise-outlook-schindler-thyssenkrupp-mitsubishi-kone-elevator-fujitec-omega/">Elevators
								And Escalators Market 2018 </a></h4>
						<p class="text-left">Global Elevators And Escalators Market Analysis Report includes top manufacturers Schindler,
							ThyssenKrupp, Mitsubishi, Kone Elevator, Fujitec, Omega, Hitachi, Hyundai, Otis, Bharat Bijlee, Yungtay
							Engineering, Zhejiang Meilun Elevator, Volkslift, Suzhou Diao, Canny Elevator, Ningbo Xinda Group, Dongnan
							Elevator, SJEC, SANYO. along with their company profile, growth aspects, opportunities, and threats to the
							market development.</p>
						<ul class="text-left fs-12 list-inline list-separator">
							<li>
								<i class="fa fa-calendar"></i>
								15th Oct 2019
							</li>
							<li>
								<a target='New' href="https://journalbitcoin.com/elevators-and-escalators-market-2018-precise-outlook-schindler-thyssenkrupp-mitsubishi-kone-elevator-fujitec-omega/">
									<i class="fa fa-comments"></i>
									3
								</a>
							</li>
						</ul>
					</div>


				</div>


			</div>

		</section>
		<!-- /News -->









		<!-- Clients -->
		<section id="clients" class="alternate">
			<div class="container">

				<div class="heading-title heading-dotted text-center">
					<h2>Our Clients</h2>
				</div>

				<ul class="row clients-dotted list-inline">
					<li class="col-md-3 col-sm-3 col-6">

						<%# <img class="img-fluid5" src="assets/image1/logo1.png" alt="client" /> %>
						<%= image_tag("logo1.png", :alt => "client", :class => "img-fluid5") %>
						

					</li>
					<li class="col-md-3 col-sm-3 col-6">

						<%# <img class="img-fluid5" src="assets/image1/logo2.png" alt="client" /> %>
						<%= image_tag("logo2.png", :alt => "client", :class => "img-fluid5") %>

					</li>
					<li class="col-md-3 col-sm-3 col-6">

						<%# <img class="img-fluid5" src="assets/image1/logo3.png" alt="client" /> %>
						<%= image_tag("logo3.png", :alt => "client", :class => "img-fluid5") %>

					</li>
					<li class="col-md-3 col-sm-3 col-6">

						<%# <img class="img-fluid5" src="assets/image1/logo4.png" alt="client" /> %>
						<%= image_tag("logo4.png", :alt => "client", :class => "img-fluid5") %>

					</li>
					<li class="col-md-3 col-sm-3 col-6">

						<%# <img class="img-fluid5" src="assets/image1/logo5.png" alt="client" /> %>
						<%= image_tag("logo5.png", :alt => "client", :class => "img-fluid5") %>

					</li>
					<li class="col-md-3 col-sm-3 col-6">

						<%# <img class="img-fluid5" src="assets/image1/logo6.png" alt="client" /> %>
						<%= image_tag("logo6.png", :alt => "client", :class => "img-fluid5") %>

					</li>
					<li class="col-md-3 col-sm-3 col-6">

						<%# <img class="img-fluid5" src="assets/image1/logo7.png" alt="client" /> %>
						<%= image_tag("logo7.png", :alt => "client", :class => "img-fluid5") %>

					</li>
					<li class="col-md-3 col-sm-3 col-6">

						<%# <img class="img-fluid5" src="assets/image1/logo8.png" alt="client" /> %>
						<%= image_tag("logo8.png", :alt => "client", :class => "img-fluid5") %>

					</li>
					<li class="col-md-3 col-sm-3 col-6">

						<%# <img class="img-fluid5" src="assets/image1/logo9.png" alt="client" /> %>
						<%= image_tag("logo9.png", :alt => "client", :class => "img-fluid5") %>

					</li>
					<li class="col-md-3 col-sm-3 col-6">

						<%# <img class="img-fluid5" src="assets/image1/logo10.png" alt="client" /> %>
						<%= image_tag("logo10.png", :alt => "client", :class => "img-fluid5") %>

					</li>
					<li class="col-md-3 col-sm-3 col-6">

						<%# <img class="img-fluid5" src="assets/image1/logo11.png" alt="client" /> %>
						<%= image_tag("logo11.png", :alt => "client", :class => "img-fluid5") %>

					</li>
					<li class="col-md-3 col-sm-3 col-6">

						<%# <img class="img-fluid5" src="assets/image1/logo12.png" alt="client" /> %>
						<%= image_tag("logo12.png", :alt => "client", :class => "img-fluid5") %>

					</li>
				</ul>

			</div>
		</section>
		<!-- /Clients -->





		<!-- CONTACT -->
		<section id="contact">
			<div class="container">

				<header class="text-center mb-60">
					<h3>Contact Us</h3>
					<p class="lead font-lato"></p>
					<hr />
				</header>


				<div class="row">

					<!-- FORM -->
					<div class="col-md-8 col-sm-8">

						<h3>Request information</h3>


						<!--
								MESSAGES

									How it works?
									The form data is posted to php/contact.php where the fields are verified!
									php.contact.php will redirect back here and will add a hash to the end of the URL:
										#alert_success 		= email sent
										#alert_failed		= email not sent - internal server error (404 error or SMTP problem)
										#alert_mandatory	= email not sent - required fields empty
										Hashes are handled by assets/js/contact.js

									Form data: required to be an array. Example:
										contact[email][required]  WHERE: [email] = field name, [required] = only if this field is required (PHP will check this)
										Also, add `required` to input fields if is a mandatory field.
										Example: <input required type="email" value="" class="form-control" name="contact[email][required]">

									PLEASE NOTE: IF YOU WANT TO ADD OR REMOVE FIELDS (EXCEPT CAPTCHA), JUST EDIT THE HTML CODE, NO NEED TO EDIT php/contact.php or javascript
												 ALL FIELDS ARE DETECTED DINAMICALY BY THE PHP

									WARNING! Do not change the `email` and `name`!
												contact[name][required] 	- should stay as it is because PHP is using it for AddReplyTo (phpmailer)
												contact[email][required] 	- should stay as it is because PHP is using it for AddReplyTo (phpmailer)
							-->

						<!-- Alert Success -->
						<div id="alert_success" class="alert alert-success mb-30">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
							<strong>Thank You!</strong> Your message successfully sent!
						</div><!-- /Alert Success -->


						<!-- Alert Failed -->
						<div id="alert_failed" class="alert alert-danger mb-30">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
							<strong>[SMTP] Error!</strong> Internal server error!
						</div><!-- /Alert Failed -->


						<!-- Alert Mandatory -->
						<div id="alert_mandatory" class="alert alert-danger mb-30">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
							<strong>Sorry!</strong> You need to complete all mandatory (*) fields!
						</div><!-- /Alert Mandatory -->


						<form action="php/contact.php" method="post" enctype="multipart/form-data">
							<fieldset>
								<input type="hidden" name="action" value="contact_send" />

								<div class="row">
									<div class="col-md-4">
										<label for="contact:name">Full Name *</label>
										<input required type="text" value="" class="form-control" name="contact[name][required]" id="contact:name">
									</div>
									<div class="col-md-4">
										<label for="contact:email">E-mail Address *</label>
										<input required type="email" value="" class="form-control" name="contact[email][required]" id="contact:email">
									</div>
									<div class="col-md-4">
										<label for="contact:phone">Phone</label>
										<input type="text" value="" class="form-control" name="contact[phone]" id="contact:phone">
									</div>
									<div class="col-md-4">
										<label for="contact:phone">Business name *</label>
										<input type="text" value="" class="form-control" name="contact[phone]" id="contact:phone">
									</div>

									<div class="col-md-4">
										<label for="contact:phone">Project name *</label>
										<input type="text" value="" class="form-control" name="contact[phone]" id="contact:phone">
									</div>
								</div>
								<div class="row">

									<div class="col-md-4">
										<label for="contact_department">Department</label>
										<select class="form-control pointer" name="contact[department]">
											<option value="">--- Select ---</option>
											<option value="Marketing">Residential project</option>
											<option value="Webdesign">Corporate project</option>
											<option value="Architecture">Others</option>
										</select>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<label for="contact:message">Project description *</label>
										<textarea required maxlength="10000" rows="8" class="form-control" name="contact[message]" id="contact:message"></textarea>
									</div>

									<div class="col-md-12">
										<label for="contact:message">Message *</label>
										<textarea required maxlength="10000" rows="8" class="form-control" name="contact[message]" id="contact:message"></textarea>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<label for="contact:attachment">File Attachment</label>

										<!-- custom file upload -->
										<input class="custom-file-upload" type="file" id="file" name="contact[attachment]" id="contact:attachment"
										 data-btn-text="Select a File" />
										<small class="text-muted block">Max file size: 10Mb (zip/pdf/jpg/png)</small>

									</div>
								</div>

							</fieldset>

							<div class="row">
								<div class="col-md-12">
									<a type="submit" href="thanks.html" class="btn btn-primary"><i class="fa fa-check"></i> SEND MESSAGE</a>
								</div>
							</div>
						</form>

					</div>
					<!-- /FORM -->


					<!-- INFO -->
					<div class="col-md-4 col-sm-4">

						<header class="text-center mb-60">
							<h3>Visit Us</h3>
							<p class="lead font-lato"></p>
							<hr />
						</header>

						<!--
					Available heights
						h-100
						h-150
						h-200
						h-250
						h-300
						h-350
						h-400
						h-450
						h-500
						h-550
						h-600
					-->
						<div class="mapouter">
							<div class="gmap_canvas"><iframe width="400" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=Boulevard%20Lebourgneuf%2C%20Qu%C3%A9bec%2C%20QC%20G2J%200C4&t=&z=13&ie=UTF8&iwloc=&output=embed"
								 frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.pureblack.de/internetagentur/"></a></div>
							<style>
								.mapouter {
								text-align: right;
								height: 500px;
								width: 400px;
							}

							.gmap_canvas {
								overflow: hidden;
								background: none !important;
								height: 400px;
								width: 350px;
							}
						</style>
						</div>

						<hr />

						<p>
							<span class="block"><strong><i class="fa fa-map-marker"></i> Address:</strong> Québec, QC G2J 0C4</span>
							<span class="block"><strong><i class="fa fa-phone"></i> Phone:</strong> <a href="tel:418(5807055)">(418)
									580-7055</a></span>
							<span class="block"><strong><i class="fa fa-envelope"></i> Email:</strong> <a href="mailto:rocketelevator@codeboxx.biz">rocketelevator@codeboxx.biz</a></span>
						</p>

					</div>
					<!-- /INFO -->

				</div>

			</div>
		</section>
		<!-- /CONTACT -->




	

	</div>

</body>


</html>
