<!DOCTYPE html>
<html lang="en">


<head>
	<meta charset="utf-8" />
	<title>Rocket Elevator Corporate</title>
	<meta name="description" content="" />
	<meta name="Author" content="Dorin Grigoras [www.stepofweb.com]" />

	<!-- mobile settings -->
	<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
	<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

	<!-- WEB FONTS : use %7C instead of | (pipe) -->
	<!--<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700" rel="stylesheet" type="text/css" />-->
	<link href="https://fonts.google.com/specimen/Roboto" rel="stylesheet" type="text/css" />
	
</head>

<body class="smoothscroll enable-animation">






	<!-- wrapper -->
	<div id="wrapper">


		<div id="header" class="navbar-toggleable-md sticky header-md clearfix">

			

		</div>

		<section class="page-header">
			<div class="container">
				<br>
				<h1><strong>Get a quote</strong></h1>

				<!-- breadcrumbs -->
				<ol class="breadcrumb">
					<li><a href="index.html">Home</a></li>
					<li><a href="index.html#services">Services</a></li>
				</ol><!-- /breadcrumbs -->

			</div>
		</section>
		<!-- /PAGE HEADER -->
		
			<!-- CONTACT -->
			<section id="contact">
				<div class="container">
					<p class="lead"><span style=color:#0b64a0>
							At Rocket Elevator, we have introduced an online submission system to save you time, please note that the
							results
							may vary when we do the analysis of your project and some projects require more specification that's why it is
							always better to contact us after an online quote.</p>
					<header class="text-center mb-60">

						<h3>Request information !</h3>
						<h5>1. Complete all mandatory (<span style="color:#a03129">*</span>) fields!</h5>
						<h5>2. Select a product range !</h5>
						<p class="lead font-lato"></p>

					</header>

						<!-- divider -->
						<center>
								<div class="container"></div>
							</center>
							<div class="divider divider-center divider-color">
								<i class="fa fa-chevron-down"></i>
							</div>
							<!-- divider -->


					<div class="row">

						<!-- FORM -->
						<div class="col-md-8 col-sm-8">
		
							<!-- Alert Success -->
							<div id="alert_success" class="alert alert-success mb-30">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								<strong>Thank You!</strong> Your message successfully sent!
							</div><!-- /Alert Success -->


							<!-- Alert Failed -->
							<div id="alert_failed" class="alert alert-danger mb-30">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								<strong>[SMTP] Error!</strong> Internal server error!
							</div><!-- /Alert Failed -->


							<!-- Alert Mandatory -->
							<div id="alert_mandatory" class="alert alert-danger mb-30">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								<strong>Sorry!</strong> You need to complete all mandatory (*) fields!
							</div><!-- /Alert Mandatory -->
						<section class="col-md-8">
								<form action="php/contact.php" method="post" enctype="multipart/form-data">
									<fieldset>
										<input type="hidden" name="action" value="contact_send" />


										<div class="row">

											<div class="col-md-4">
												<label for="contact_department">Type of Building</label>
												<select id="select_department" class="form-control pointer" name="contact[department]">
													<option value="">--- Select ---</option>
													<option value="Residential">Residential</option>
													<option value="Commercial">Commercial</option>
													<option value="Corporate">Corporate</option>
													<option value="Hybrid">Hybrid</option>
													
												</select>
											</div>
										</div>

										<div class="divider  divider-color"></div>


										<!--Bouton radio residentiel-->

										<label for="contact_department" style="color:#a03129">Product Range</label>

										<div id="radio1" class="radio-block">

											<strong>Standard</strong><INPUT class="radio" type="radio" id="standard" name="tarif" onchange="residential(value)"><br>
											<strong>Premium</strong><INPUT class="radio" type="radio" id="premium" name="tarif" onchange="residential(value)"><br>
											<strong>Excelium</strong><INPUT class="radio" type="radio" id="excellent" name="tarif" onchange="residential(value)">

										</div>

										<!--Bouton radio-->

										<!--Bouton radio corporate-->

										<div id="radio2" class="radio-block">

											<strong>Standard</strong><INPUT class="radio" type="radio" id="standard1" name="tarif" onchange="corporate(value)"><br>
											<strong>Premium</strong><INPUT class="radio" type="radio" id="premium1" name="tarif" onchange="corporate(value)"><br>
											<strong>Excelium</strong><INPUT class="radio" type="radio" id="excellent1" name="tarif" onchange="corporate(value)">
								</FORM>
						</div>

						<!--Bouton radio-->

						<!--Bouton radio hybride-->

						<div id="radio3" class="radio-block">

							<strong>Standard</strong><INPUT class="radio" type="radio" id="standard2" name="tarif" onchange="hybrid(value)"><br>
							<strong>Premium</strong><INPUT class="radio" type="radio" id="premium2" name="tarif" onchange="hybrid(value)"><br>
							<strong>Excelium</strong><INPUT class="radio" type="radio" id="excellent2" name="tarif" onchange="hybrid(value)">
							</FORM>
						</div>

						<!--Bouton radio-->

						<!--Bouton radio commercial-->

						<div id="radio4" class="radio-block">

							<strong>Standard</strong><INPUT class="radio" type="radio" id="standard3" name="tarif" onchange="commercial(value)"><br>
							<strong>Premium</strong><INPUT class="radio" type="radio" id="premium3" name="tarif" onchange="commercial(value)"><br>
							<strong>Excelium</strong><INPUT class="radio" type="radio" id="excellent3" name="tarif" onchange="commercial(value)">
							</FORM>
						</div>

						
						<div class="divider  divider-color"></div>
								
						
						<!--Bouton radio-->

						<div>


							<!--Sub1-->
							<div id="sub1" class="">


								<label for="numberapartements">The number of apartments.<span style="color:#a03129">*</span></label>
								<input type="number" name="test_name" min="0" oninput="validity.valid||(value='');" name="appnumber" id="nbapp1" onchange="residential(value)" onkeyup="residential(value)">



								<label for="numberfloors">The number of floors.<span style="color:#a03129">*</span></label>
								<input type="number" name="test_name" min="0" oninput="validity.valid||(value='');" name="floorsnumber" id="nbfl1" onchange="residential(value)"
								 onkeyup="residential(value)">



								<label for="numberbasements">The number of basements.</label>
								<input type="number" name="test_name" min="0" oninput="validity.valid||(value='');" name="basenumber" id="nbbase1" onchange="residential(value)"
								 onkeyup="residential(value)">

							</div>
							<!--Sub1-->

							<!--Sub2 commercial-->

							<div id="sub2" class="">
								<label for="contact:phone">The number of separate business</label>
								<input type="number" name="test_name" min="0" oninput="validity.valid||(value='');" name="appnumber[appnumber]" id="contact:phone">



								<label for="contact:phone">The number of floors.</label>
								<input type="number" name="test_name" min="0" oninput="validity.valid||(value='');" name="floorsnumber[floorsnumber]" id="contact:phone">



								<label for="contact:phone">The number of basements.</label>
								<input type="number" name="test_name" min="0" oninput="validity.valid||(value='');" name="basenumber[basenumber]" id="contact:phone">


								<label for="contact:phone">The number of parking places.</label>
								<input type="number" name="test_name" min="0" oninput="validity.valid||(value='');" name="floorsnumber[floorsnumber]" id="contact:phone">


								<label for="contact:phone">The number of lift cages to deploy.<span style="color:#a03129">*</span></label>
								<input type="number" name="test_name" min="0" oninput="validity.valid||(value='');" name="floorsnumber[floorsnumber]" id="nbcage2" onchange="commercial(value)"
								 onkeyup="commercial()">

							</div>

							<!--Sub2-->

							<!--Sub3 corporate-->
							<div id="sub3" class="">
								<label for="contact:phone">The number of companies who rent.</label>
								<input type="number" name="test_name" min="0" oninput="validity.valid||(value='');" name="appnumber[appnumber]" id="contact:phone">



								<label for="contact:phone">The number of floors.<span style="color:#a03129">*</span></label>
								<input type="number" name="test_name" min="0" oninput="validity.valid||(value='');" name="floorsnumber[floorsnumber]" id="nbfloor3" onchange="corporate(value)"
								 onkeyup="corporate(value)">




								<label for="contact:phone">The number of basements.<span style="color:#a03129">*</span></label>
								<input type="number" name="test_name" min="0" oninput="validity.valid||(value='');" name="basenumber[basenumber]" id="nbbase3" onchange="corporate(value)"
								 onkeyup="corporate(value)">



								<label for="contact:phone">The number of parking places.</label>
								<input type="number" name="test_name" min="0" oninput="validity.valid||(value='');" name="floorsnumber[floorsnumber]" id="contact:phone">


								<label for="contact:phone">The number of maximum occupants per floor.<span style="color:#a03129">*</span></label>
								<input type="number" name="test_name" min="0" oninput="validity.valid||(value='');" name="floorsnumber[floorsnumber]" id="nboccfloor3" onchange="corporate(value)"
								 onkeyup="corporate(value)">
							</div>
							<!--Sub3-->

							<!--Sub4 hybrid-->
							<div id="sub4" class="">
								<label for="contact:phone">The number of separate business.</label>
								<input type="number" name="test_name" min="0" oninput="validity.valid||(value='');" name="appnumber[appnumber]" id="contact:phone">



								<label for="contact:phone">The number of floors.<span style="color:#a03129">*</span></label>
								<input type="number" name="test_name" min="0" oninput="validity.valid||(value='');" name="floorsnumber[floorsnumber]" id="nbfloor4" onchange="hybrid(value)"
								 onkeyup="hybrid(value)">




								<label for="contact:phone">The number of basements.<span style="color:#a03129">*</span></label>
								<input type="number" name="test_name" min="0" oninput="validity.valid||(value='');" name="basenumber[basenumber]" id="nbbase4" onkeyup="hybrid(value)"
								 onkeyup="hybrid(value)">



								<label for="contact:phone">The number of parking places.</label>
								<input type="number" name="test_name" min="0" oninput="validity.valid||(value='');" name="floorsnumber[floorsnumber]" id="contact:phone">


								<label for="contact:phone">The number of maximum occupants per floor.<span style="color:#a03129">*</span></label>
								<input type="number" name="test_name" min="0" oninput="validity.valid||(value='');" name="floorsnumber[floorsnumber]" id="nboccfloor4" onchange="hybrid(value)"
								 onkeyup="hybrid(value)">




								<label for="contact:phone">The number of hours of activity of the building (maximum 24).</label>
								<input type="number" name="test_name" min="0" oninput="validity.valid||(value='');" name="floorsnumber[floorsnumber]" id="contact:phone">

							</div>
							<!--Sub4-->

							<br>
							<br>
							<p class="float-left" style="color:#0b64a0"><strong><br><br>Your Quote !</strong><br></p>
					

							<!-- TOTAL residentiel -->

							<div class="" id="total1">

								<div class="toggle active" id="total1">
									<div class="toggle-content" id="total1">



										


										<span class="clearfix">
											<span class="float-left" value="0" id="resultinstall1" onchange="residential(value)" onchange="corporate(value)"
											 onchange="hybrid(value)" onchange="commercial(value)"></span>
											<span class="float-left"></span>
										</span>

										<span class="clearfix">
											<span class="float-left" value="0" id="installfee" onchange="residential(value)" onchange="corporate(value)"
											 onchange="hybrid(value)" onchange="commercial(value)"></span>
											<span class="float-left"></span>
										</span>


										<hr />
										<span class="clearfix">
											<span class="float-left" value="0" id="uniteprice1" onchange="residential(value)" onchange="corporate(value)"
											 onchange="hybrid(value)" onchange="commercial(value)"></span>
											<span class="float-left"></span>
										</span>

										<span class="clearfix">
											<span class="float-left" value="0" id="installfee1" onchange="residential(value)" onchange="corporate(value)"
											 onchange="hybrid(value)" onchange="commercial(value)"></span>
											<span class="float-left"></span>
										</span>

										<hr />

										<span class="clearfix">

											<span class="float-left fs-20" value="0" for="quantity" id="result1" onchange="residential(value)" onchange="corporate(value)"
											 onchange="hybrid(value)" onchange="commercial(value)"></span>
											<output class="float-left"></output>

										</span>

										<hr />

									</div>
								</div>
							</div>

							<!-- /TOTAL corporate-->

							<div class="" id="total2">

								<div class="toggle active" id="total2">
									<div class="toggle-content" id="total2">

										

										<span class="clearfix">
											<span class="float-left" id="resultinstall2" onchange="residential(value)" onchange="corporate(value)"
											 onchange="hybrid(value)" onchange="commercial(value)"></span>
											<span class="float-left"></span>
										</span>

										<span class="clearfix">
											<span class="float-left" id="pourcent" onchange="residential(value)" onchange="corporate(value)" onchange="hybrid(value)"
											 onchange="commercial(value)"></span>
											<span class="float-left"></span>
										</span>

										<hr />
										<span class="clearfix">
											<span class="float-left" id="installfee2" onchange="residential(value)" onchange="corporate(value)"
											 onchange="hybrid(value)" onchange="commercial(value)"></span>
											<span class="float-left"></span>
										</span>

										<span class="clearfix">
											<span class="float-left" id="uniteprice2" onchange="residential(value)" onchange="corporate(value)"
											 onchange="hybrid(value)" onchange="commercial(value)"></span>
											<span class="float-left"></span>
										</span>

										<hr />

										<span class="clearfix">

											<span class="float-left fs-20" for="quantity" id="result2" onchange="residential(value)" onchange="corporate(value)"
											 onchange="hybrid(value)" onchange="commercial(value)"></span>
											<output class="float-left"></output>

										</span>

										<hr />

									</div>
								</div>
							</div>



							<!-- TOTAL hybrid-->



							<div class="" id="total3">

								<div class="toggle active" id="total3">
									<div class="toggle-content" id="total3">

										

										<span class="clearfix">
											<span class="float-left" id="resultinstall3" onchange="residential(value)" onchange="corporate(value)"
											 onchange="hybrid(value)" onchange="commercial(value)"></span>
											<span class="float-left"></span>
										</span>

										<span class="clearfix">
											<span class="float-left" id="pourcent1" onchange="residential(value)" onchange="corporate(value)" onchange="hybrid(value)"
											 onchange="commercial(value)"></span>
											<span class="float-left"></span>
										</span>

										<hr />

										<span class="clearfix">
											<span class="float-left" id="installfee3" onchange="residential(value)" onchange="corporate(value)"
											 onchange="hybrid(value)" onchange="commercial(value)"></span>
											<span class="float-left"></span>
										</span>

										<span class="clearfix">
											<span class="float-left" id="uniteprice3" onchange="residential(value)" onchange="corporate(value)"
											 onchange="hybrid(value)" onchange="commercial(value)"></span>
											<span class="float-left"></span>
										</span>

										<hr />

										<span class="clearfix">

											<span class="float-left fs-20" for="quantity" id="result3" onchange="residential(value)" onchange="corporate(value)"
											 onchange="hybrid(value)" onchange="commercial(value)"></span>
											<output class="float-left"></output>

										</span>

										<hr />

									</div>
								</div>
							</div>

							<!-- /TOTAL commercial-->

							<div class="" id="total4">

								<div class="toggle active" id="total4">
									<div class="toggle-content" id="total4">


										

										<span class="clearfix">
											<span class="float-left" id="resultinstall4" onchange="residential(value)" onchange="corporate(value)"
											 onchange="hybrid(value)" onchange="commercial(value)"></span>
											<span class="float-left"></span>
										</span>

										<span class="clearfix">
											<span class="float-left" id="pourcent4" onchange="residential(value)" onchange="corporate(value)" onchange="hybrid(value)"
											 onchange="commercial(value)"></span>
											<span class="float-left"></span>
										</span>

										<hr />

										<span class="clearfix">
											<span class="float-left" id="installfee4" onchange="residential(value)" onchange="corporate(value)"
											 onchange="hybrid(value)" onchange="commercial(value)"></span>
											<span class="float-left"></span>
										</span>

										<span class="clearfix">
											<span class=""float-left"" id="uniteprice4" onchange="residential(value)" onchange="corporate(value)"
											 onchange="hybrid(value)" onchange="commercial(value)"></span>
											<span class="float-left"></span>
										</span>

										<hr />

										<span class="clearfix">

											<span class="float-left" fs-20" for="quantity" id="result4" onchange="residential(value)" onchange="corporate(value)"
											 onchange="hybrid(value)" onchange="commercial(value)"></span>
											<output class="float-left"></output>

										</span>

										<hr />

									</div>
								</div>
							</div>
							<!-- /TOTAL-->
							<br>	<br>	<br>
						</section>
							<div id="sub1"></div>

							</fieldset>

							<div class="row">
								<div class="col-md-12">
											<button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> Get your Quote</button>
										</div>
									
							</div>


							</form>

						</div>

					</div>
				</div>

				<div class="text-center mt-30 mb-30">
					<div class="owl-carousel m-0" data-plugin-options='{"singleItem": false, "autoPlay": true}'>
						<div>
							<%= image_tag("logo1.png", :alt => "logo", :class => "img-fluid5") %>
						</div>
						<div>
							<%= image_tag("logo2.png", :alt => "logo", :class => "img-fluid5") %>
						</div>
						<div>
							<%= image_tag("logo3.png", :alt => "logo", :class => "img-fluid5") %>
						</div>
						<div>
							<%= image_tag("logo4.png", :alt => "logo", :class => "img-fluid5") %>
						</div>
						<div>
							<%= image_tag("logo5.png", :alt => "logo", :class => "img-fluid5") %>
						</div>
						<div>
							<%= image_tag("logo6.png", :alt => "logo", :class => "img-fluid5") %>
						</div>
						<div>
							<%= image_tag("logo7.png", :alt => "logo", :class => "img-fluid5") %>
						</div>
						<div>
							<%= image_tag("logo8.png", :alt => "logo", :class => "img-fluid5") %>
						</div>
						<div>
							<%= image_tag("logo9.png", :alt => "logo", :class => "img-fluid5") %>
						</div>
						<div>
							<%= image_tag("logo10.png", :alt => "logo", :class => "img-fluid5") %>
						</div>
						<div>
							<%= image_tag("logo11.png", :alt => "logo", :class => "img-fluid5") %>
						</div>


					</div>
				</div>
	</div>

	</div>

	<!-- /CONTACT -->
	


	<!-- /wrapper -->


	<!-- SCROLL TO TOP -->
	<a href="#" id="toTop"></a>


	
	







</body>

</html>